body{
  text-align: center;
  background-color: pink;
}



/* #button{
  background-color: purple;
  text-shadow: 1px 1px;
  color: white;

} */
#font{
  font-family: "Brush Script MT", cursive; font-size: 60px;
}

span{
  color:red;
}

button{
  button.size
}
